/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.pull-right {
    float: right !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both; 
}

.col {
    float: left; 
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-fourth {
    width: calc(100% / 4); 
}

.btn {
    text-decoration: none;
    color: #f4c2c2;
    background-color: #0b0b0b;
    padding: 10px 18px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    background-color: #ff69B4;
    color: #fff;
}

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...) 
*/

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết 
 */
 
#main {

}

#header {
    height: 46px;
    background-color: #0b0b0b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color:#f4c2c2;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #FF69B4;
    color: #fff;
}

#nav .subnav {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search-btn,
#header .mobile-menu-btn {
    float: right;
    padding: 0 21px;
}

#header .mobile-menu-btn:hover,
#header .search-btn:hover {
    background-color: #ff69B4;
    cursor: pointer;
}

#header .search-btn:hover .search-icon {
    color: #fff;
}

#header .mobile-menu-icon,
#header .search-icon {
    color: #f4c2c2;
    font-size: 20px;
    line-height: 46px;
}   

/* 50% chiều ngang của chính nó */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #f4c2c2;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 0 1px #000;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content {
 
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
}

#content .album-text {
    color: #f4c2c2;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;    
}

#content .member-img {
    width: 160px;
    border-radius: 4px;
    margin-top: 15px;
}

/* Tour section */
.tour-section {
    background-color: #0b0b0b;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .real-name {
    background-color: #0b0b0b;
    padding: 3px 4px;
    color: #f4c2c2;
    margin-left: 16px;
}

.tickets-list .real-age {
    float: right;
    width: 26px;
    height: 26px;
    background-color: #0b0b0b;
    color: #f4c2c2;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    margin-top: -3px;
}

/* Places */
.places-list {
    margin-top: 16px; 
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

/* Map section */
.map-section img {
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: #757575;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    opacity: 0.6;
}

#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: #757575;
}

#footer .copyright a {
    color: #757575;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    height: 130px;
    background: #f4c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b0b0b;
    font-size: 30px;
    letter-spacing: 3px;
}

.modal-header-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-album {
    border: none;
    background-color: #f4c2c2;
    color: #000;
    width: 100%;
    padding: 18px; 
}

#buy-album:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    font-size: 15px;
}

.modal-footer a {
    color: #2196f3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


